*{
	margin: 0;
	padding: 0;
	font-family: roboto, sans-serif;
}

/*selectores de etiqueta*/

p{
	color:#OOOO ;
	font-weight: 100px;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
}
nav img{
	width: 80px;
}
form{
	margin-left: 20px
}
h1{
	margin-left: 20px;
}

footer{
	margin-left: 10px;
	background-size: auto;
	background-repeat: repeat; 
}

/*selectores de clase*/

.fondo {
	background-image: linear-gradient(90deg, rgba(235,232,232,0.9) 80%, rgba(191,189,189,1) 100%, rgba(150,150,149,1) 100%);	
}

.mainRoja{
	background-image: url(../Img/cartera.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.imagen{
	width: 60vh;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.titulo{
	text-align: center;	
}
.scale:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.conteiner{
	padding: 10px;
	display: flex;	
	margin-bottom: 100px;
}
.justifyContent{
	justify-content: space-between;
}
.caja{
	padding: 20px;
	border: solid 2px black;
	flex-basis: 16%;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}
.imagenRoja1{
	width: 80vh;
	height: 40vh;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.imagenNosotros{
	width: 110vh;
	height: 50vh;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.cajaNosotrosLeft{
	padding: 20px;
	/*border: solid 2px black;
	flex-basis: 30%;*/
	justify-content: left;
	text-align: left;
	margin-top: 20px;
	margin-left: 40px;
}
.cajaNosotrosRight{
	padding: 20px;
	/*border: solid 2px black;
	flex-basis: 30%;*/
	justify-content: right;
	text-align: right;
	margin-top: 20px;
	margin-right: 40px;
}
/*selectores de ID*/

#footer{
	margin-top: 10px;
}	

#borde{
	color: black;
	margin-top: 40px;
	margin-right: 20px;
	width: 30%;
	height: 40vh;
	padding: 10px;
	border: solid 2px black;
	float: right;
}
#box{
	color: black;
	margin-top: 20px;
	margin-right: 20px;
	width: 30%;
	height: 40vh;
	padding: 10px;
	border: solid 2px black;
	float: right;
}
#boxBox{
	color: black;
	margin-top: 20px;
	margin-right: 20px;
	width: 30%;
	height: 40vh;
	padding: 10px;
	float: right;
	border: solid 2px black;
}

@media only screen and (min-width: 320){
	#borde{
		height: 8vh;
	}
	#box{
		height: 8vh
	}
	#boxBox{
		height: 8vh;
	}
}

@media only screen and (min-width: 768px){
	#borde{
		height: 34vh;
	}
	#box{
		height: 30vh
	}
	#boxBox{
		height: 36vh;
	}
}
@media only screen and (min-width: 1200px){
	#borde{
		height: 20vh;
	}
	#box{
		height: 16vh
	}
	#boxBox{
		height: 20vh;
	}
}
